{% extends "layout.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block label %}
sign up
{% endblock %}



{% block body %}
<table>
        <tr><h1><span class="font1">Welcome!</span></h1></tr>
        <tr><span class="font2">Create User Account Here</span></h6></tr>
        <tr style="height:20px;"></tr>
        <form action="{{ url_for('sign_up') }}" method = "post">
            <tr>
                <td><span class="font3">Email Address:</span></td>
                <td style="padding:10px;"><input class="form_control" name="email_address" type="email" required value= {{ email_address}}> </td>
            </tr>
             <tr>
                <td><span class="font3">Password:</span></td>
                <td style="padding:10px;"><input class="form_control" name="password" type="password" required value= {{ password}}> </td>
            </tr>
            <tr>
                <td><span class="font3">First Name:</span></td>
                <td style="padding:10px;"><input class="form_control" name="first_name" required placeholder="" ></td>
            </tr>
            <tr>
                <td><span class="font3">Last Name:</span></td>
                <td style="padding:10px;"><input class="form_control" name="last_name" required placeholder=""></td>
            </tr>
            <tr>
                <td><span class="font3">Birthday:</span></td>
                <td style="padding:10px;"><input class="form_control" name="birthday" required type="date" placeholder=""></td>
            </tr>
            <tr>
                <td style="padding-top:20px;"><button class="btn btn-secondary">Click Here</button></td>
            </tr>
        </form>
    </table>

{% endblock %}
